<h1><%= current_user.email %>'s to do list</h1>

<ul class="list-unstyled items">
  <%= render current_user.items %>
</ul>

<%= render partial: "items/form", locals: {user: current_user, item: Item.new} %>