<br>
<div class="jumbotron">
  <h1>Blocitoff</h1>
  <p>Just Blocitoff</p>
  <p>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>The Efficient To-do List</h2>
    <p>Use Blocitoff to address the problem of your to-do list clutter.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminate Clutter</h2>
    <p>Blocitoff will automatically delete to-do items that have not been completed after seven days.</p>
  </div>
  <div class="col-md-4">
    <h2>Use It Or Lose It</h2>
    <p>If it isn't important enough to complete in a week, it doesn't belong on your to-do list.</p>
  </div>
</div>