@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.items > li:nth-child(even) {
  background-color: #eee;
}

.items > li {
  padding: 5px;
}